/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.rmp-menu-additional-content  a {
    color: #fff;
}
header .fl-page-nav ul#menu-main-menu > li {
    padding: 0px 10px;
}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.bx-pager-link.active {
    background-color: #F2CD29!important;
}
.fl-content-slider-navigation path {
    fill: #F2CD29;
}
.bx-pager-link {
    height: 4px!important;
    width: 25px!important;
    background-color: rgba(244,244,245,0.45);
    border-radius: 0px!important;
}
.fl-module-content-slider .bx-wrapper {
    margin: 0 auto 0px!important;
}
/*Footer Socila Icons */
.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
	vertical-align: middle !important;
}
ul.social-icons {
    float: right
}
.fl-slide-2 .fl-slide-content{
	max-width: 30%;
    margin: 85px auto !important;
}

ul.social-icons li {
    margin: 0px 0px 0px 0;
    width: 60px;
}
.fl-post .fl-post-image-beside {
    float: none;
}
.fl-page-nav-wrap {
    border: none!important;
}
.fl-page-header-container.container {
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.store-opening-hrs {
    padding-left: 0px;
}
.direction a {
   width: 185px;
	color: #fff!important;
	letter-spacing: 1px;
	padding: 12px 20px!important;
}
ul.storename .phone a:hover span {
    color: #f2cd29!important;
}
.direction a span {
	color: #fff!important;
}
ul.social-icons li a i {
    font-size: 40px;
    color: #F2CD29;
}
.fl-module-uabb-gravity-form  .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]{
    background-color: #F2CD29 !important;
    text-transform: uppercase !important;
}
.fl-module-uabb-gravity-form  .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]:hover{
    background-color: #000 !important;
}
ul.social-icons li a {
    color: #F2CD29 !important;
}

ul.social-icons li a:hover {
    color: #ffffff !important;
}

.f-0 .fl-heading-text {
    font-size: 0;
}
.footer-phone-no .fl-icon-wrap {
    display: flex;
    align-items: center
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a{
    margin-right: 4px!important;
    font-size: 14px !important;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a:nth-child(2){
    margin-right: 0px !important;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a i{
    margin-right: 2px !important;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a i.at-the-rate-code{
    font-size: 15px !important;
    vertical-align: initial;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a i.fa-comment-dots{
    font-size: 16px !important;
    vertical-align: bottom;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap *{
    margin-bottom: 0;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap .fa-comment-dots:before {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: sub;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap .at-the-rate-code{
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px !important;
}

.product-colors ul li.found {
    margin-right: 5px;
}

.product-grid.btn-grey .product-variations1>h5, .product-grid.btn-grey>h4>span, .product-grid .fl-button-text, .product-detail-layout-6 .product-variations .color-boxs-inners small, .floorte-color, .featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button, .fl-photo-caption {
    font-size: 14px!important;
}
.gform_heading p.gform_required_legend {
    display: none;
}

.gfield_captcha_input_container.math_medium input {
    width: auto;
}


@media (min-width: 992px) {
    header .fl-page-header-container {
        width: 100%;
        /* max-width: 1360px; */
        /* margin: 0px; */
    }
    header .fl-page-header-wrap {
        border: 0px!important;
    }
    .Visit_us a {
        padding: 12px 24px!important;
        background: #F2CD29!important;
        font-weight: 400!important;
        color: #fff!important;
        transition: all 0.6s;
        display: inline-flex!important;
    }
    .Visit_us a:hover {
        background: #564935!important;
        color: #fff!important;
    }
    header {
        border-bottom: 1px solid #00000042!important;
    }
    /* 	.nav-link:before{
		content: "\f3c5";
		font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
	} */
}

#field_23_4,
#field_22_4 {
    width: 100%!important;
    padding-right: 0px!important;
}

#field_23_2,
#field_16_2,
#field_27_2,
#field_22_2 {
    padding-right: 0px!important;
}

#choice_23_11_1,
#choice_16_7_1,
#choice_27_7_1 {
    vertical-align: top!important;
}

#field_19_10 {
    margin-top: 24px!important;
}

#field_19_10>div {
    margin-top: 0px!important;
}

#menu-copyright-bar-menu a {
    font-weight: 500!important;
    font-size: 12px;
}

footer .fl-rich-text p {
    color: #080808!important;
    font-size: 12px;
    font-weight: 500!important;
}

.top_bar .storename .address p {
    display: inline-block!important;
    margin-left: 4px!important;
    margin-top: 12px;
    font-size: 14px;
}

.top_bar .storename .address a {
    font-size: 14px!important;
}

.fl-page-bar-container {
    padding: 0px!important;
}

.top_bar .phone {
    margin-top: 12px!important;
}

.top_bar .phone a {
    font-size: 14px!important;
}

.fl-page-bar-text.fl-page-bar-text-1 {
    padding: 0px!important;
}

.fl-page-bar-text-1 .storename {
    margin-bottom: 0px!important;
}

.fl-page-bar-text.fl-page-bar-text-2 {
    padding: 0px!important;
}

.fl-page-bar-text-2 .storename {
    margin-bottom: 0px!important;
    display: inline-block!important;
}

.fl-page-bar-text-2 i {
    margin-right: 6px!important;
    margin-top: 4px!important;
    font-size: 14px!important;
}


/* .nav-link:before{
	content: "\f3c5";
	color: #fff;
	font-family: "Font Awesome 5 Free";  
} */

.Visit_us a:before {
    content: "\f041";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
}

.Visit_us a {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    footer nav .menu-item a {
        padding-left: 0px!important;
    }
    .fl-page-bar-text-2 div.top_bar {
        padding-bottom: 10px!important;
    }
    .store-opening-hrs {
        padding-left: 0px!important;
    }
    .fl-post-image-beside {
        width: 100%!important;
    }
    .remove-bg .fl-col-content {
        background-color: transparent!important;
    }
    .Visit_us a:before {
        content: "";
    }
    .Visit_us a {
        text-transform: capitalize!important;
    }
    .remove-bg .fl-col-content h1 {
        color: #fff!important;
        text-shadow: 2 0 3 #000!important;
    }
    .remove-bg .fl-col-content h1 strong {
        color: #fff!important;
        text-shadow: 2 0 3 #000!important;
    }
    button#responsive-menu-button {
        top: 73px!important;
    }
    .fl-page-bar-container {
        padding: 0px 20px!important;
    }
    .fl-page-header-logo {
        padding: 0px 0px!important;
    }
    .fl-page-header-logo img {
        float: left!important;
    }
    .fl-page-header-logo-col {
        padding-left: 0px!important;
    }
    #menu-copyright-bar-menu li {
        float: left!important;
    }
    footer @menu-copyright-bar-menu {
        text-align: center!important;
    }
    .fl-node-5c6fdfb622747 .fl-rich-text>p {
        text-align: center;
    }
}

.storename .store-opening-hrs-container ul {
    list-style: none;
}

.storename .store-opening-hrs-container ul li {
    position: relative;
}

.storename .store-opening-hrs-container ul li span {
    position: absolute;
    right: 0;
    width: 60%;
}

footer .fl-node-5dd701da5b06c .message {
    display: inline;
}

.loc_add .storename p {
    margin-bottom: 0px!important;
}

.loc_add .fa-map-marker {
    margin-bottom: 12px;
}
.textLeft p {
	margin-bottom: 20px!important;
}
.button-wrapper a.button.alt {
    background: #f2cd29;
    border-color: transparent;
    color: #564935;
}
.button-wrapper a.button.alt:hover {
    background: #564935;
    border-color: transparent;
    color: #fff;
} 
@media (max-width: 768px) {
    .max-width-issue {
        max-width: 400px !important;
        margin: 0 auto !important;
    }
	.fl-page-header{
		padding: 20px;
	}
	button.rmp_menu_trigger{
		top: 75px !important;
	}
	.textLeft * {
		text-align: left!important;
	}
.product-attributes table {
    table-layout: fixed!important;
}
}

@media (max-width: 767.5px) {
    button.rmp_menu_trigger {
        top: 105px!important;
    }
	.rmp-menu-item-has-children .rmp-submenu.rmp-submenu-depth-2 > li > a {
		line-height: 1.4em!important;
	}
}

@media (max-width: 576px) {
	.arrow.slick-next.slick-arrow {
    right: -5px!important;
}
.arrow.slick-prev.slick-arrow {
    left: -5px!important;
}
    .store_loc .w-100 {
        width: 100%!important;
    }
    .fl-page-header-container {
        padding-left: 15px!important;
    }
    .responsive-menu-button {
        height: 45px!important;
        width: 45px!important;
    }
    .top_bar .address p:nth-child(2) {
        margin-top: 0px!important;
    }
}

@media (max-width: 425px) {
	#menu-copyright-bar-menu li {
		float: none!important;
		text-align: center!important;
	}
    .uabb-photo__gallery-filters li {
        width: 100%!important;
        margin: 0px!important;
    }
    .uabb-photo__gallery-filters {
        height: auto;
        width: 100%!important;
        padding-left: 0px!important;
    }
    .uabb-photo-gallery-filter-grid {
        width: 100%;
    }
    .gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
    .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
    .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
        margin-top: 3px !important;
    }
}

.search-row .product-grid .getcoupon-btn {
    padding: 8px 12px;
    text-decoration: none;
}

.search-row .product-grid .plp-view-product {
    margin-top: 8px!important;
}

.page-list .page-item-349302 {
    display: none;
}

input[type=checkbox] {
    vertical-align: top!important;
}


.text-right {
    text-align: right;
}

.search-row header {
    border-bottom: 0px!important;
}

.product-colors li.found {
    margin-right: 5px;
}
@media (min-width: 992px) {
    .style-product_list .pro-container .row .col-md-7 {
        width: 48.333333%!important;
    }
}
